.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
body{
  display: block;
  width: 100%;
  background: url('img/background.jpg');
  background-position: center;
  color: white;
  height: 100%;
  width: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Raleway';
  text-align: center;
  background-color: white;

}
.typed{
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 26.4px;
  color: white;
  padding-top: 10%;
  text-align: center;
}
.secondline{
  padding-top: 20px;
}
.pic{
  height: 100%;
}
.footer{
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  height: 20%;
  width: 100%;
  color: black;
  font-size: 30px;
}
.fa-twitter-square{
  color: grey;
}
.fa-reddit-square{
  color: grey;
}
.fa-envelope-square{
  color: grey;
}
.fa-twitter-square:hover{
    color: #373737;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.fa-reddit-square:hover{
    color: #373737;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.fa-envelope-square:hover{
    color: #373737;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
@media screen and (max-device-width: 480px) {

}
